$COLOR_ALERT: red;
$COLOR_EVENT: #75c375;

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
}

.event {
  background-color: $COLOR_EVENT;
}

.hidden {
  display: none;
}

.container-newEvent {
  max-width: 900px;
  margin: 0 auto;

  .multiselect-tip {
    margin: 0;
    color: #6c757d;
    font-size: small;
  }

  .failed-validation {
    border-color: $COLOR_ALERT;
  }
}

.table {
  th {
    height: 50px;
  }
  td {
    padding: 0;
    height: 50px;
  }
}

table {
  table-layout: fixed;
  text-overflow: ellipsis;
  td {
    text-overflow: ellipsis;
    max-width: 20%;
    height: 40px;
    overflow: hidden;
    div {
      height: 100%;
      width: 100%;
      position: relative;
      padding: 10px 10px 5px 5px;
    }
  }
}
